$dark-primary: #616161;
$primary: #9E9E9E;
$light-primary: #F5F5F5;
$text-icons: #212121;
$accent: #03A9F4;
$primary-text: #212121;
$secondary-text: #727272;
$divider: #B6B6B6;

$text-color: $dark-primary;
$link-color: $accent;
$headings-color: $text-icons;
