// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nested-fields {
  padding: 1.5em;
  border: 1px dashed $divider;
  &:not(:first-child) {
    border-top: 0;
  }
}

.bordered {
  outline: 3px double $divider;
}

.event-tile {
  min-height: 300px;
  margin-bottom: 3em;
  img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.main-header {
  text-align: center;
  margin-bottom: 40px;
}

.side-header {
  margin-top: 40px;
  color: $dark-primary;
  padding-bottom: 2px;
  border-bottom: 2px solid $dark-primary;
}
