// Basic ovverrdies

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

h3 {
  margin-top: 10px;
}

nav {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-pills > li > a {
  border-radius: 0;
}

.nav > li > a {
  padding: 0;
  margin-right: 15px;
  margin-left: 15px;
}

.nav > li.active > a,
.nav > li.active > a:focus,
.nav > li.active > a:hover {
  color: $accent;
  background-color: transparent;
  border-bottom: 3px solid $accent;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

footer {
  border-top: 8px solid $primary-text;
  height: 10em;
  margin-top: 2em;
  background-color: $primary;
  color: $light-primary;
  padding: 3em;
}
// -----------------

// Custom classes
.navigation {
  margin-top: 30px;
  margin-bottom: 60px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -10em;
}

.wrapper:after {
  content: "";
  display: block;
  height: 10em;
}

.group {
  margin-top: 48px;
}

.logo {
  font-family: fantasy;
}

.day {
  border-bottom: 1px solid $light-primary;
}

// tooltips
[data-toggle="tooltip"] {
  cursor: help;
}

//pre
.pre-wrap {
  white-space: pre-line;       /* css-3 */
  white-space: -moz-pre-line;  /* Mozilla, since 1999 */
  white-space: -pre-line;      /* Opera 4-6 */
  white-space: -o-pre-line;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

i {
  font-weight: normal;
}
