<p>Приветствуем <%= @resource.email %>!</p>

<p>Кто-то запросил смену вашего пароля. Вы можете это сделать перейдя по ссылке внизу.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали эту операцию то просто проигнорируйте это письмо.</p>
<p>Ваш пароль не поменяется пока вы не перейдете по ссылке сверху для его изменения.</p>
